

.malaiBtn{
    background-color: #09AE54;
    color: white;
    text-align: center;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-size: smaller;
}